@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .flex-between { @apply flex justify-between items-center }
  .flex-center { @apply flex justify-center items-center }
  .grid-center { @apply row-start-1 row-end-1 col-start-1 col-end-1 }
  .selected-theme { @apply 
    relative 
    before:content-[""] before:w-[120%] before:h-[120%] 
    before:absolute before:-top-[10%] before:-left-[10%]
    before:bg-transparent before:border-2 before:border-blue-700 
  }
}
